<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="fdroid.fdroid.org.uhurustore"
android:installLocation="auto"
android:versionCode="43"
android:versionName="0.43" >

<uses-sdk
    android:minSdkVersion="7"
    android:targetSdkVersion="15" />

<supports-screens
    android:anyDensity="true"
    android:largeScreens="true"
    android:normalScreens="true"
    android:resizeable="true"
    android:smallScreens="true"
    android:xlargeScreens="true" />

<uses-feature
    android:name="android.hardware.touchscreen"
    android:required="false" />

<permission android:name="davdroid.market.REQUEST_INSTALL"   android:protectionLevel="normal"/>
<uses-permission android:name="davdroid.market.REQUEST_INSTALL" />

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

<uses-permission android:name="com.uhuru.permission.INSTALL_PACKAGE" />
<uses-permission android:name="com.uhuru.permission.MDM_REPORTING" />

<application
    android:name="FDroidApp"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name" >
    <activity
        android:name="FDroid"
        android:configChanges="keyboardHidden|orientation|screenSize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchResults" />
    </activity>
    <activity android:name="ManageRepo" />
    <!--<activity android:name="Settings" />-->
    <activity
        android:name="AppDetails"
        android:exported="true" >
        <intent-filter>
            <category android:name="android.intent.category.DEFAULT" />

            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="fdroid.app" />
        </intent-filter>
    </activity>
    <activity android:name="Preferences" />
    <activity
        android:name="SearchResults"
        android:exported="true"
        android:launchMode="singleTop" >
        <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
        </intent-filter>

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />
    </activity>

    <activity android:name="UPKDeployActivity" android:theme="@android:style/Theme.NoDisplay" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
        </intent-filter>
    </activity>

    <activity android:name="UhuruStoreControllerActivity" android:theme="@android:style/Theme.NoDisplay" >
        <intent-filter>
            <action android:name="uhurustore.intent.action.AddRepo" />
            <action android:name="uhurustore.intent.action.RmRepo" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <receiver android:name="StartupReceiver" >
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <category android:name="android.intent.category.HOME" />
        </intent-filter>
    </receiver>
    <receiver android:name="PackageReceiver" >
        <intent-filter>
            <action android:name="android.intent.action.PACKAGE_ADDED" />
            <action android:name="android.intent.action.PACKAGE_UPGRADED" />
            <action android:name="android.intent.action.PACKAGE_REMOVED" />

            <data android:scheme="package" />
        </intent-filter>
    </receiver>

    <!--<service android:name="RequestInstallService"  />-->
    <service android:name="UpdateService" />

</application>

</manifest>
